body{
    background-color:black;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size:3rem;
}
h4{
    font-size:1.5rem;
}
h5{
    font-size:1rem;
}
h6{
    font-size:0.8rem;
}

/* SPINNER */
#spinner{
    opacity : 0;
    visibility : hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 9000;
}

#spinner.show{
    transition: opacity .5s ease-out, visibility 0s linear .0s;
    visibility: visible;
    opacity: 1;
}
/* SPINNER */

.navBarLine{
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(74, 73, 73), #ffffff, rgb(74, 73, 73)) 1;
}

/* NAVBAR SHINING */
.navBarShine{
    animation-name: navBarShine;
    animation-duration: .35s;
}
@keyframes navBarShine {
    0%{
        background-color:rgba(255, 255, 255, 0.4);
    }
    30%{
        background-color:rgba(255, 255, 255, 0.8);
    }
    100%{
        background-color:rgba(255, 255, 255, 0);
    }
}
/* NAVBAR SHINING */

/* SLIDESHOW HEADER */
.slideshow-container {
    max-width: 650px;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.acTive {
    background-color: #717171;
}

.mySlides {
    animation-name: mySlides;
    animation-duration: 1.5s;
}
@keyframes mySlides {
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
} 
/* SLIDESHOW HEADER */

.imgFront{
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0), black), url(./img/Delorean5.png);
    height:60vh;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.imgRear{
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0), black), url(./img/Delorean6.png);
    height:60vh;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

/* SLIDE A CONTENT FROM RIGHT */
#animatedSlide{
    height:30vh;
    background-color: white;
}

.slideFromRight{
    animation: slideFromRight;
    animation-duration: 3s;
}
@keyframes slideFromRight {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/* SLIDE A CONTENT FROM RIGHT */

/* SLIDE MULTIPLE CONTENTS */
.slideFromDown{
    animation: slideFromDown both;
    animation-duration: 0.7s;
}
@keyframes slideFromDown {
    from{
        opacity: 0;
        transform: translateY(+100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* SLIDE MULTIPLE CONTENTS */